[user]
	name = Ben Bridts
[push]
	default = simple
[core]
	excludesfile = /Users/ben/.config/ben/git/gitignore_global
[alias]
	# Log
	ll = log --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr)%Creset %Cblue[%an]%Creset' --date=relative
	clean-branch = ! git branch --merged | egrep -v \"(^\\*|master|develop|dev|main|trunk)\" | xargs git branch -d
[merge]
	conflictsyle = =

